@font-face {
  font-family: Montserrat;
  src: url("/static/Montserrat-Light.ttf");
}

html {
  text-size-adjust: 100%;
  background: #0d0e0e linear-gradient(#282C34, #0d0e0e);
  background-size: cover;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #eee;
  height: 100%;
}

h1 {
  margin: auto;
  padding: 0.2em;
  text-align: left;
  font-size: 2em;
  font-weight: 300;
}

h2 {
  margin: auto;
  padding: 0.2em;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}

#period_time{
  background: transparent;
  color: #fff;
}

#color_swatch {
  border: 1px solid #fff;
  border-radius: 1em;
  height: 50px;
  width: 200px;
  display: block;
  /*margin: 0 20px 20px 20px;*/
}

.row{
  display: block;
  float: left;
  margin-left: 5em;
  height: 100%;
  background: transparent;
}

.column{
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
}

.container {
  width: 80%;
  height: 200px;
  background: aqua;
  margin: auto;
  padding: 10px;
}

.iro__colorPicker{
  margin: 1em;
  display: block;
  position: relative;
}

.center{
  display: block;
  margin: 2em auto;
}

a {
  color: #eee;
  text-decoration: none;
  letter-spacing: 1px;
}

.button {
  display: block;
  height: 50px;
  width: 200px;
  border: 1px solid #BFC0C0;
  border-radius: 1em;
  margin: 20px auto;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: rgba(142, 134, 134, 0.54);
  font-size: 0.75em;
}

.button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button-3 a {
  transition: all .45s ease-Out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #1f9ade;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.button-3:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

.button-3:hover a {
  color: #eee;
}

#rainbow{
  position:fixed;
  bottom: 0;
  right:0;
  z-index: -10;
  height: 60%;
}
